* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  color: get-color('body-text');
  line-height: 1.7;
}

img {
  width: 100%;
  height: auto;
}

h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 70px;
  height: 2px;
  background: get-color('background-red');
  transform: translateX(-50%);
}

a {
  text-decoration: none;
}
a:focus {
  outline: none;
}
ul {
  list-style: none;
  padding-left: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
