.footer {
  padding-bottom: 30px;
  font-weight: 500;

  &__layout {
    @include set-flex(row, space-between, center);
  }

  &__layout span {
    color: get-color("text-red");
  }

  &__contact {
    height: 30px;
    display: flex;

    &-input {
      font-size: 16px;
      margin: 0;
      padding-left: 6px;
      border: 1px solid get-color("light-gray");
    }
    &-input::placeholder {
      color: get-color("light-gray");
    }
  }
}

@media (width <=768px) {
  .footer__layout {
    flex-direction: column-reverse;
    gap: 30px;
  }
}
